<h1 class= text-center >LISTA DE TAREAS</h1>
<br>

<div class= 'row'>
    <div class = 'col-sm-6'>
        <h4 class= text-center> NO COMPLETADAS </h4>
        <% @todos.each do |todo| %>
            <% if !todo.completed %>
                <div class="card card-body bg-light">
                    <%= todo.description%>
                    <% todo.completed%>
                </div>
                <br>
            <% end %>
        <% end %>
    </div>

    <div class = 'col-sm-6'>
        <h4 class= text-center> COMPLETADAS </h4>
            <% @todos.each do |todo| %>
            <% if todo.completed %>
                <div class="card card-body bg-light">
                    <%= todo.description%>
                    <% todo.completed%>
                </div>
                <br>
            <% end %>
        <% end %>
    </div>

</div>


